body {
    background-image: url('/static/Home.png');
    background-position: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
 /* Center-align the canvas and buttons */
        

        /* Style for the canvas */
        #canvas {
            background-color: black;
            border: 2px solid white;
        }

        /* Style for buttons */
        .button-container {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #333;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #555;
        }

        /* Style for prediction display */
        #predictionContainer {
            display: flex;
            flex-direction: column;
            /* Stack elements vertically */
            align-items: center;
            /* Center-align elements horizontally */
            margin-top: 20px;
            width: 400px;
            border-radius: 2px;
            background-color: #fff9fc;
        }

        /* Style for the predicted alphabet */
        #predictedAlphabet {
            color: rgb(10, 9, 10);
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
        }
        
.heading-container{
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    position: relative;
    animation: bounce 3s ease infinite;

}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
