<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alphabet Recogniser</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
  

<body>
    <div class="heading-container">
        <h1>ALPHABET RECOGNISER</h1>
    </div>
    <canvas id="canvas" width="400" height="400"></canvas>
    <div class="button-container">
        <button type="button" id="clearButton" onclick="clearCanvas()">Clear</button>
        <span></span>
        <button type="button" id="predictButton" onclick="predict()">Predict</button>

    </div>
    <div id="predictionContainer">
        <span id="predictedAlphabet"></span>
    </div>
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Alphabet Recognizer</p>
            <div class="social-links">
                <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
    
    <script type="text/javascript" src="{{ url_for('static', filename='script/index.js') }}">
    </script>
</body>

</html>